# Caminho do CSV de origem
INPUT_FILE=seu_arquivo.csv

# Pasta onde os arquivos divididos serao salvos
OUTPUT_DIR=./csv

# Prefixo dos arquivos gerados -> parte_1.csv, parte_2.csv, ...
OUTPUT_PREFIX=parte

# Linhas por arquivo
MAX_ROWS=1000000
